# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.local
.env.*.local
*.log
*.keystore
android/app/src/debug/
android/app/src/release/
android/gradlew
android/gradlew.bat
android/gradle/wrapper/gradle-wrapper.jar
android/build/
android/app/build/
ios/build/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/
ios/Pods/
ios/.xcode.env.local

# Metro Bundler cache
.metro-health-check*
.react-native/
.react-native-community/
.cache/

# IDE files
.idea/
.DS_Store
Thumbs.db
.vscode/ 

# AI 
.cursor/

# Other temporary files
*~
*.bak
*.swp
*.swo

*.apk
*.aab
*.idsig
*.apk.apk
